@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Flat-UI-Icons";
  src: url("./fonts/Flat-UI-Icons.eot");
  src: url("./fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("./fonts/Flat-UI-Icons.woff") format("woff"), url("./fonts/Flat-UI-Icons.ttf") format("truetype"), url("./fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "FaktPro-Thin";
  src: url("./fonts/FaktPro-Thin.eot");
  src: url("./fonts/FaktPro-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/FaktPro-Thin.woff") format("woff"), url("./fonts/FaktPro-Thin.ttf") format("truetype");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "FaktConPro-Medium";
  src: url("./fonts/FaktConPro-Medium.eot");
  src: url("./fonts/FaktConPro-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/FaktConPro-Medium.ttf") format("truetype");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "FaktConPro-Normal";
  src: url("./fonts/FaktConPro-Normal.eot");
  src: url("./fonts/FaktConPro-Normal.eot?#iefix") format("embedded-opentype"), url("./fonts/FaktConPro-Normal.woff") format("woff"), url("./fonts/FaktConPro-Normal.ttf") format("truetype"), url("./fonts/FaktConPro-Normal.svg") format("svg");
}

* {
  font-family: Roboto, sans-serif;
}
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

body {
  text-align: -webkit-center;
  font-family: "FaktConPro-Medium";
  background-color: whitesmoke;
  font-size: 12px;
}

a {
  cursor: pointer;
  color: #0387c2;
  font-weight: bold;
  font-size: 13px;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

textarea {
  color: #222;
  border: solid 1px #88b0c0;
  border-radius: 3px;
  padding: 6px;
  font-size: 13px;
  resize: vertical;
  width: 100%;
  line-height: 1.4;
  height: 150px;
  z-index: auto;
  position: relative;
  transition: none;
  background: transparent !important;
}

label {
  font-weight: normal;
}

input[type=radio] {
  display: none;
}

.form-control[readonly] {
  background-color: transparent;
}

.disabled {
  background: whitesmoke;
  cursor: not-allowed;
}

.custom-tooltip {
  padding: 4px 8px !important;
}

.wrap {
  word-wrap: break-word;
  white-space: pre-line;
}

.mls {
  margin-left: 0.25em;
}

.mrs {
  margin-right: 1em;
}

.outer-container {
  overflow: hidden;
  min-height: 96vh;
}
/* Below is the css for header and it's content. */

.navbar {
  margin-bottom: 0;
  min-height: 45px;
  width: 100%;
}

.navbar-default {
  background-color: #001b23;
}

.logocontainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logocontainer img {
  height: 25px;
}

.headertitle {
  color: white;
  font-size: 16px;
  font-family: 'FaktPro-Thin', Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.userinfocontainer {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 45px;
}

.userinfocontainer img {
  width: 25px;
}

.footer {
  position: relative;
  color: #7D7D7D;
  padding: 0;
  z-index: -1;
}

.loadingIcon {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px;
  font-size: 48px;
  color: #3273ae;
  text-shadow: rgba(0, 0, 0, 0.1) 0;
}

.loader-div {
  position: fixed;
  left: 45%;
  top: 45%;
}

.contract-toggle {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #0387c2;
  padding: 5px;
  margin: 0;

  label {
    width: 100% !important;
    padding-left: 0 !important;
  }

  [class*="col-"],
  [class^="col-"] {
    padding: 0;
  }
}

.radio-btn {
  input {
    display: none;
  }

  [class*=" icon-"],
  [class^="icon-"] {
    font-size: 22px;
    color: #3273ae;
    margin-right: 5px;
  }

  .radio__lbl {
    vertical-align: super;
  }
}

.radio-btn--disabled {
  color: #e6e6e6;

  [class*=" icon-"],
  [class^="icon-"] {
    color: #e6e6e6;
  }

  .radio__lbl {
    cursor: auto;
  }
}

.btn-custom-props {
  width: 100px;
}

.btn-gartner-default {
  color: #0387c2;
  border-color: #0387c2;
  font-weight: bold;
  border-radius: 4px;
  white-space: pre-line;
}

.inactiveLink {
  cursor: default;
  pointer-events: none;
}

.scrollTop {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scrollTop:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.font12 {
  font-size: 12px;
}

.font-mcp {
  font-size: 13px;
}

.font-ci {
  font-size: 20px;
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}
/* Activity related CSS*/

.activity-label {
  cursor: pointer;
  background: white;
  color: black;
  line-height: 25px;
  font-size: 13px;
  margin: 0 0 6px;
  border-radius: 4px;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5%;
  white-space: nowrap;
  border: 1px solid lightgray;
}

.activity-label:hover {
  overflow: visible;
  white-space: normal;
  color: #0387c2;
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.create-activity-div {
  text-align: center;
}

.create-activity-div h3.new-activity-label span {
  content: '+';
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.inline-block {
  display: inline-block;
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.createCiTable td[class*=col-] {
  border-top: transparent;
  padding-bottom: 8px;
}

.btn-save {
  color: white;
  background-color: #a3aa3f;
  border-color: #a3aa3f;
}

.btn-cancel {
  color: white;
  float: left;
  background-color: #8598A2;
  border-color: #778c97;
}

.createMcpButton,
.createMcpButton:hover {
  cursor: pointer;
  font-size: 10px;
  background: #1e5f99;
  border-radius: 2px;
  color: white;
  padding: 2px 4px;
  margin: 0 2px 0 0;
}

.highlight .ciLabel .icon-border_color,
.highlight .mcpLabel .icon-border_color {
  color: black;
}

.mcpLabel .icon-border_color {
  font-size: 10px;
  color: white;
  padding-left: 8px;
  cursor: pointer;
}

.ciLabel .icon-border_color {
  font-size: 13px;
  color: white;
  padding-left: 8px;
  cursor: pointer;
}

.info-label {
  font-family: "FaktPro-Thin";
  font-size: 12px;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

.align-center {
  text-align: center;
}

.color-blue {
  color: #3273ae;
}

.color-gray {
  color: #CECECE;
}

.color-black {
  color: black;
}

.color-green {
  color: #73791E;
}

.red {
  color: red;
}

.margin0 {
  margin-bottom: 0;
}
/* Calendar CSS */

.calendar-pill {
  background: #00558B;
  color: #fff;
  line-height: 45px;
  font-size: 16px;
  margin: 0;
  border-radius: 4px;
}

.todays-calendar-pill {
  background: #3273ae;
  color: #fff;
  line-height: 45px;
  font-size: 16px;
  margin: 0;
  border-radius: 4px;
}

.insta-calendar-pill {
  cursor: pointer;
  height: 33px;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #ffffff;
  margin-top: 5px;
  border-radius: 4px;
  background: #001b23;
}

.calendar-backward,
.calendar-forward {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  color: #0387c2;
  width: 75px;
  border: 1px solid #0387c2;
  border-radius: 4px;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.calendar-backward:hover,
.calendar-forward:hover {
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.calendar__monthselector {
  .dropdown-toggle {
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 44px !important;
    color: #0387c2 !important;
    width: 110px !important;
    border: 1px solid #0387c2 !important;
    border-radius: 4px !important;
    text-align: center !important;
  }
  .caret{
    position:static !important;
  }

  .dropdown-menu {
    min-width: 110px;
  }
}

.calendar-backward {
  float: right;
}

.calendar-forward {
  float: left;
}
/* *** */
.actions-tr {
  width: 100%;
  position: fixed;
  height: 50px;
  bottom: 0;
  background-color: rgba(136, 136, 136, 0.5);
}

.preview-contract {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 15%;

  p {
    margin: 10px;
  }
}

.hidden {
  visibility: hidden;
}

.preview-contract-btn {
  height: 80%;
  padding-left: 25px;
  padding-right: 25px;
}

.h3Bordered {
  color: #5c6970;
  font-size: 22px;
  margin-top: 10px;
}

.h5NoCloseMsg {
  color: #d54400;
  text-transform: uppercase;
}

.preview-contract-downloadimg {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;

  .loader-div {
    left: auto;
    top: auto;
  }
}

.actions-div {
  text-align: center;
  background: white;
  color: #0387c2;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
  position: fixed;
  left: 5%;
  bottom: 8px;
  width: 250px;
  z-index: 1;
}

.actions-div > ul > li {
  padding: 8px 8px 8px 20px;
  text-align: left;
}

.actions-div > ul > li:hover {
  background: #c2eafc;
}
// Placeholder CSS fix

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #CECECE;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #CECECE;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #CECECE;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CECECE;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #CECECE;
}

.updates-div {
  height: 70px;
  overflow-y: auto;
  border: 1px solid #006dac;
  border-radius: 4px;
  padding: 4px;
  text-align: left;
}

.dropdown .btn-default {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #88b0c0;
  height: 30px;
  padding: 6px;
  width: 100%;
  text-align: start;
  font-size: 13px;
  color: #222;
}
.dropdown--default .dropdown, .dropdown--default .btn-default{
  width: 100%
}
.dropdown .dropdown-menu {
  width: 100%;
  /*margin-top: 10px;*/
  max-height: 250px;
  overflow-y: auto;
}

.dropdown .btn-default .caret,
.dropdown .btn-danger .caret {
  position: absolute;
  right: 5px;
  top: 12px;
}

.dropdown .btn-danger,
.dropdown .btn-danger:focus {
  outline: red;
  background-color: white;
  border: solid 1px red;
  border-radius: 3px;
  height: 30px;
  padding: 6px;
  width: 100%;
  text-align: start;
  font-size: 13px;
  color: #222;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.leftAllign{
  text-align: left;
}

.marginTop{
  margin-top: 8px;
}

.postCallButton{
  padding-right: 46px;
  padding-left: 46px;
}
.__react_component_tooltip {
  max-height: 800px;
  max-width: 1000px;
}

.edit-icon {
  font-size: 12px !important;
  cursor: pointer;
  margin-left: 2px;
}
.pagination_height > .pagination-top > .-pagination{
  height: fit-content
  }

  .editModalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2000;
  }

  .editModal{
    position: relative;
    top: 110px;
    left: 22px;
    width: 90%;
    max-width: 90%;
    overflow-y: auto;
    max-height: 84%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    outline: none;
    padding: 15px 20px 25px 20px;
    z-index: 2001;
  }
